body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-style{
  display: grid;
  /* background-color: aqua; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.select-list{
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.select-list Select{
  width: 100px;
}